h1 {
    color: white;
    text-align: center;
    height: 100px;
    margin-top: 0;
    font-family: 'Fjalla One', sans-serif;
    font-size: 6em;
    padding-top: 10px;
}

.header-block {
    display: block;
    background-color: black;
}

h3 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.25em;
}

.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
}


