.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.flag {
    width: 60%;
    display:cover;
    
}

h1 {
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 4em;
}

.navbar {
    font-family: 'Poiret One', cursive;
    background-color: gold;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: burlywood;
}

p {
    font-family: 'Poiret One', cursive;
}

.navImg {
    height: 60px;
}

.loveImages {
    width: 100%;
    display:cover;
    max-height: 160px;
    padding-bottom: 20px;
}