.navbar {
    background-color:lightblue;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
}

.wrapper {
    height: 2500px;
    background-color: lightgray;
    margin-top: 50px;
    margin-left: 150px;
    width: 75%;
}

body {
    background-image: url(gplaypattern/gplaypattern.png);
}

h2 {
    font-family: sans-serif;
    color: white;
    text-align: center;
}
p {
    font-family: garamond;
    text-align: center;
    line-height: 1;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
img {
    width: 55%;
    border: solid 1px;
}

.date-posted {
    color: dimgrey;
    text-align: right;
    margin-right: 20px;
    font-family: helvetica;
}

.box {
    font-family: garamond;
    background-color: lightslategray;
    width: 15%;
    height: 45px;
}