.navbar {
    background-color:lightblue;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
}

.wrapper {
    height: 2000px;
    background-image: url(http://cdn.wallpapersafari.com/41/52/9mJa1k.jpeg);
    margin-top: 50px;
    margin-left: 150px;
    width: 75%;
}

body {
    background-color: darkslategrey;
}

h2 {
    font-family: sans-serif;
    color: white;
}
p {
    font-family: garamond;
}